div.error
{
	margin-left: 5%;

	width: 90%; 
	min-height: 300px;
	overflow: hidden;

	text-align: center; 
	font-size: 12pt; 
	color: #999;
}
div.error > img
{
	display: inline-block;
	
	width: 50%;
	max-width: 300px;
	margin: auto;
}
div.error > a
{
	display: inline-block;
	padding: 10px 0 50px 0;
	
	font-size: 12pt; 
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color: #446688;
}
.error.not-found{
	text-align: center;
}
.error.not-found .bg{
	margin-top: 5%;
	display: inline-block;
	width: 320px;
	height: 320px;
	
	background-image: url(../../images/error/notfound.jpg);
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-position: center;
}
.error.not-found > a{
	font-size: 20pt;
	font-weight: 400;
	color: #000;
}
.error.not-found > a > span{
	display: block;
	
	font-size: 20pt;
	font-weight: 400;
	cursor: pointer;
}