body, div, ul, li, p, h1, h2, h3, h4, span, a, form, input, select, object, textarea, fieldset, legend, button, iframe{
	margin: 0; 
	padding: 0;
	border: 0;
	outline: none; 
	font-size: 0;
	font-weight: 400;
	cursor: default;
}
h1, h2, h3, h4{
	font-weight: 700;
}
iframe{

	width: 0;
	height: 0
}
ul{
	list-style: none
}
img{
	border: 0
}
a{
	border: 0;
	text-decoration: none; 
	cursor: pointer
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}