div.poupImageShadow
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	height: 1000%;
	z-index: 999;
	
	background-color: #000000; 
	
	opacity: 0.9; 
	filter: alpha(opacity=90); 
	-ms-filter: 'alpha(opacity=90)'; 
	-khtml-opacity: 0.9;	
	-moz-opacity: 0.9;
}
div.poupImageWrapper
{
	position:absolute;
	max-width: 100%;
	overflow: hidden;
	z-index: 1000;
	
	background-color: #ffffff
}
div.poupImageWrapper > a
{
	position:absolute;
	top: 0;
	display: block;
	width: 40px;
	height: 40px;
	
	background-color: #ffffff;
	
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
	color: #ff8822
}
div.poupImageWrapper > img
{
	width: auto;
	height: auto;
	max-width: 98%;
	margin: 1%
}