.popupBg{
	z-index: 10000; 
	position: fixed; 
	top: 0; 
	left: 0; 
	
	background-color: #000;
	-khtml-opacity: 0.5;
	  -moz-opacity: 0.5;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
           opacity: 0.5;
	        filter: alpha(opacity=50);
}
.popupWrapper{
	position: fixed; 
	z-index: 10001; 
	top: 100px; 
	left: 50%; 
	overflow: hidden; 
	
	margin-left: -200px; 
	width: 400px; 
	
	background-color: #fff; 
	border: 5px solid #1a1512;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
        -ms-border-radius: 5px;
	     -o-border-radius: 5px;
            border-radius: 5px;
}
.popupWrapper .popupHeader{
	width: 80%; 
	padding: 15px 10%;
	
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	color: #5b5b5b;
	
	background-color: #efefef;
	border-bottom: 1px solid #ccc;	
}
.popupWrapper .popupMessage{
	overflow: hidden; 
	
	width: 80%; 
	padding: 20px 10%; 
	
	font-size: 11pt;  
	color: #666;
	
	background-color: #fff;
}
.popupWrapper .popupMessage .element{
	overflow: hidden;
	
	width: 90%;	
	margin: 0 5%;
	padding-bottom: 20px;
}
.popupWrapper .popupMessage .element.small{
	width: 40%
}
.popupWrapper .popupMessage .element.inline{
	display: inline-block;
	
	width: 40%;	
	margin: 0 5%;
}
.popupWrapper .popupMessage .element .header{
	margin-top: 20px;
	margin-bottom: 0;
}

.popupWrapper .popupMessage label, 
.popupWrapper .popupMessage label > span, 
.popupWrapper .popupMessage input, 
.popupWrapper .popupMessage select, 
.popupWrapper .popupMessage textarea{
	display: block;
	
	font-size: 11pt;
} 
.popupWrapper .popupMessage input, 
.popupWrapper .popupMessage textarea{
	width: 95%;
	padding: 5px 2%;
} 
.popupWrapper .popupMessage input, 
.popupWrapper .popupMessage select, 
.popupWrapper .popupMessage textarea, 
.popupWrapper .popupMessage button,
.popupWrapper .popupMessage fieldset{
	border: 1px solid #ddd;
	border-radius: 3px;	
}
.popupWrapper .popupMessage label{
	display: inline-block;
	
	width: 100%;
	margin: 5px 0;
	
	font-size: 10pt;
}
.popupWrapper .popupMessage label.checkbox,
.popupWrapper .popupMessage label.radio{
	display: inline-block;
	padding: 0;
	line-height: 15px;
	width: auto;
	
	font-style: italic;
	color: #666;
}
.popupWrapper .popupMessage label b{
	color: #ff4444;
}	
.popupWrapper .popupMessage label a{
	float: right;
	
	color: #6688aa;	
}
.popupWrapper .popupMessage label a:hover{
	text-decoration: underline;
}
.popupWrapper .popupMessage label span.info{
	width: 15px;
	height: 15px;
	 
	background: url('../../images/admin/.popupWrapper .popupMessage/info.bg.png') no-repeat center;
	
	cursor: pointer;
}
.popupWrapper .popupMessage label small{
	display: inline-block;
	
	margin-top: 5px;
	
	font-size: 10pt;
	color: #aaa;
}
.popupWrapper .popupMessage input.radio,
.popupWrapper .popupMessage input.checkbox{
	display: inline-block;
	
	width: 15px;
	height: 15px;
	margin-right: 10px;
	padding: 0;
}
.popupWrapper .popupMessage input[readonly="readonly"]{
	background-color: #f5f5f5;	
}
.popupWrapper .popupMessage textarea{
	resize: none;
	height: 100px;
	max-height: 150px;
}
.popupWrapper .popupMessage textarea.small{
	max-height: 50px;
}
.popupWrapper .popupMessage textarea.large{
	min-height: 250px;
}
.popupWrapper .popupMessage select{
	width: 100%;
	padding: 4px 0;	
}
.popupWrapper .popupMessage select[multiple='multiple']{
	height: 300px;
}
.popupWrapper .popupButton{
	display: inline-block;
	overflow: hidden; 
	
	margin-top: 10px;
	margin-bottom: 20px; 
	width: 30%; 
	line-height: 35px;
	padding: 5px 2.5%;
	
	text-align: center; 
	font-size: 10pt; 
	font-weight: bold;
	color: #fff; 
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
        -ms-border-radius: 5px;
	     -o-border-radius: 5px;
            border-radius: 5px;
	cursor: pointer;
}
.popupWrapper .popupButton.yes{
	margin-left: 10%;
	margin-right: 2.5%; 
}
.popupWrapper .popupButton.no{
	margin-right: 10%;
	margin-left: 2.5%; 
}
.popupWrapper .popupButton.yes{
	border: 1px solid #5c8d20;
	background-color: #9fd041;
}
.popupWrapper .popupButton.no{
	border: 1px solid #b53641;
	background-color: #fb6882;
}
/* max-width : 640px */
@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px)
{
	.popupWrapper{
		margin-left: -150px; 
		width: 300px; 
	}	
}