#verticalImageSliderWrapper{
	margin-top: 0;
	overflow: hidden;
	padding-right: 2px; /* For image border */
}
#verticalImageSliderWrapper img{
	width: 100%;
	padding: 10px 0;
	
	cursor: pointer;
	
	border: 1px solid #ddd;
} 
#verticalImageSliderButUp,
#verticalImageSliderButDown{
	position: absolute;
	width: 100%;
	height: 50px;
	
	cursor: pointer;
	
	background-color: #456456
}
#verticalImageSliderButUp{
	top: 0;	
}
#verticalImageSliderButDown{
	bottom: 0;	
}
#verticalImageSliderButUp:before,
#verticalImageSliderButDown:before{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	
	text-align: center;
	font-family: 'Vaadin';
	font-size: 20px;
	color: #aaa;
	
	background-color: #ddd;	
}
#verticalImageSliderButUp:before{
	content: "";
}
#verticalImageSliderButDown:before{
	content: "";
}