table.instructions {margin-top: 50px;

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10pt;
}

table.instructions td, table.instructions th {
    border: 1px solid #ddd;
    padding: 8px;
}

table.instructions tr:nth-child(even){background-color: #f2f2f2;}

table.instructions tr:hover {background-color: #ddd;}

table.instructions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}