.catalogue{
	width: 100%;
	overflow: hidden;
}
/*============================================================================
    SEARCH
  ----------------------------------------------------------------------------*/
.catalogue-search{
    display: inline-block;
    padding: 20px 2%;
}
.catalogue-search .element{
    display: inline-block;
    margin-right: 20px;
}
.catalogue-search select,
.catalogue-search input{
    padding: 10px 20px;
    
    font-size: 10pt;
    color: #666;
    
    border: 1px solid #F1a8bC;
    background-color: #fff;
}
.catalogue-main-search{
    float: right;
    position: relative;
    margin: 20px 2%;
    display: inline-block;
    
    border: 1px solid #F1a8bC;
    background-color: #fff;
}
.catalogue-main-search::after{
    position: absolute;
    top: 7px;
    right: 10px;
    
    content: "\f002";
    font-size: 20px;
    font-family: "FontAwesome";
    color: #888;
}
.catalogue-main-search input{
    padding: 10px 20px;
    
    font-size: 10pt;
}
/*----------------------------------------------------------------------------*/
.catalogue-table{
    display: table;
	width: 100%;
    table-layout: fixed;
    
    border-top: 1px solid #F1d8dC
}
.catalogue-table .row{
    display: table-row;
    width: 100%;
}
/*============================================================================
    HEADERS
  ----------------------------------------------------------------------------*/
.catalogue-table .row.headers{
	background: #F1e8eC;
}
.catalogue-table .cell-header{
    display: table-cell;
	white-space: nowrap;
    
	padding: 20px 1%;
}
.catalogue-table .row .cell-header{
    display: table-cell;
	white-space: nowrap;
	vertical-align: top;
}
.catalogue-table .row .cell-header:nth-child(odd){
    background: rgba(255,255,255,0.1);
}
.catalogue-table .cell-header a{
	display: block;
    box-sizing: border-box;
	width: 100%;
	
    text-transform: uppercase;
    font-weight: bold;
	font-size: 10pt;
	color: #F1586C;
}
.catalogue-table .cell-header a::after{
    display: inline-block;
    margin-left: 10px;

    content: "\f161";
    font-family: "FontAwesome";
    font-size: 12px;
    color: #ccc;
}
.catalogue-table .cell-header:last-child a::after{
    display: none;
}
.catalogue-table .cell-header a:hover::after,
.catalogue-table .cell-header a.selected::after{
    color: #666;
}
.catalogue-table .cell-header a.selected.down::after{
    content: "\f160";
}
.catalogue-table .cell-header input{
	width: 80%;	
	min-width: 30px;
	height: 18px;
	padding: 0 5%;
	margin: 5px 0;	
	
	font-size: 12px;
	color: #6688aa;
	
	border: 1px solid #aaa;
}
.catalogue-table .cell-header input[type="checkbox"]{
	width: 16px;
	height: 16px;	
	min-width: 16px;
	max-width: 16px;
}
.catalogue-table .cell-header input.small{
	display: inline-block;
	
	width: 60%;
	max-width: 80px;
}
.catalogue-table .cell-header input.hidden{
	visibility: hidden
}
.catalogue-table .cell-header select{
	width: 80%;
	padding: 0 5%;
	margin: 5px 0;
	
	font-size: 10pt;
	
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
}
.catalogue-table .cell-header button{
	margin: 5px 0 0 -15px;
	width: 15px;
	height: 20px;
	
	background: #aaccee;
	border-top: 1px solid #aaccee;
	border-bottom: 1px solid #aaccee;
	border-right: 1px solid #aaccee;
	
	font-size: 12px;
	color: #fff;
	
	cursor: pointer
}
.catalogue-table .cell-header.ids{
    width: 50px;
}
.catalogue-table .cell-header.ids a.actions{
	display: inline-block;
	
	width: 16px;
	height: 16px;
	margin-top: 5px;
	padding: 2px;
	
	font-size: 17px;
	font-family: "icons";
	color: #fff; 
}
.catalogue-table .cell-header.ids div{
	display: none;
	position: absolute;
	margin: 16px 0 0 35px;
	
	overflow: hidden;
	
	box-shadow: 0 0 2px rgba(0,0,0,0.4); 
}
.catalogue-table .cell-header.ids div li{
	padding: 10px;
	
	border-bottom: 1px solid #aaa;
	background-color: #fafafa;
	
	text-align: left;
}
.catalogue-table .cell-header.ids div li a{
	display: block;
	
	font-size: 10pt;
	font-weight: normal;
	color: #aaa;
	
	cursor: default
}
.catalogue-table .cell-header.ids div li a:hover{
	color: #6688aa;
}
.catalogue-table .cell-header a.clear_search,
.catalogue-table .cell-header a.submit_search{
	display: inline-block;
	
	margin: auto;
	padding: 5px 8px;
	margin-top: 2px;}
.catalogue-table .cell-header a.clear_search::before,
.catalogue-table .cell-header a.submit_search::before{
	font-family: "FontAwesome";
	font-size: 17px; 
}
/*============================================================================
    LIST
  ----------------------------------------------------------------------------*/
.catalogue-table .row.list{
	background: #fff;
}
.catalogue-table .row.list.dark{
	background: #fafafa;
}
.catalogue-table .row.list:hover,
.catalogue-table .row.list.dark:hover{
	background: #fff5f5;
}
.catalogue-table .cell {
    display: table-cell;
	padding: 20px 1%;
	overflow-wrap: break-word;
    
	vertical-align: top;
	text-align: left;
    font-size: 10pt;
    color: #666;
}
.catalogue-table .cell:nth-child(odd) {
    background: rgba(240,240,240,0.3);
}
.catalogue-table .cell.bulk{
	text-align: center;
}
.catalogue-table .cell span.value{
}
.catalogue-table .cell span.img{
	display: inline-block;
	
	width: 100%;
	
	text-align: center;
	font-family: "icons";
	font-size: 14pt;
	color: #666;
}
.catalogue-table .cell span.img.empty::before{
    content: "\f03e";
    font-family: "FontAwesome";
    font-size: 20px;
    color: #ddd;
}
.catalogue-table .cell span.img img{
	max-width: 50px;
	max-height: 50px;
}
.catalogue-table .cell ul.order,
.catalogue-table .cell ul.actions{
	white-space: nowrap;
	text-align: center;	
}
.catalogue-table .cell ul.order li,
.catalogue-table .cell ul.actions li{
	display: inline-block;
    vertical-align: top;
}
.catalogue-table .cell a.update,
.catalogue-table .cell a.view,
.catalogue-table .cell a.delete,
.catalogue-table .cell a.add,
.catalogue-table .cell a.action_disabled{
	display: block;
	width: 30px;
	height: 30px;
}
.catalogue-table .cell a.update::before,
.catalogue-table .cell a.view::before,
.catalogue-table .cell a.delete::before,
.catalogue-table .cell a.add::before,
.catalogue-table .cell a.action_disabled::before{
    font-family: "FontAwesome";
    font-size: 16px;
    color: #ddd;
}
.catalogue-table .cell a.update:hover::before,
.catalogue-table .cell a.view:hover::before,
.catalogue-table .cell a.delete:hover::before,
.catalogue-table .cell a.add:hover::before,
.catalogue-table .cell a.action_disabled:hover::before{
    color: #F1586C;
}
.catalogue-table .cell a.update::before{
	content: "\f303";
}
.catalogue-table .cell a.view::before{
	content: "\f06e";
}
.catalogue-table .cell a.delete::before{
	content: "\f2ed";
}
.catalogue-table .cell a.add::before{
	content: "\f067";
}
.catalogue-table .cell a.action_disabled::before{
	color: #ddd;	
	
	cursor: default;
}
.catalogue-table .cell a.media{
	background-image: url( '../../images/admin/list/media.png' );
}
.catalogue-table .cell a.maps{
	background-image: url( '../../images/admin/list/maps.png' );
}
.catalogue-table .cell a.stats{
	background-image: url( '../../images/admin/list/stats.png' );
}
.catalogue-table .cell a.nostats{
	background-image: url( '../../images/admin/list/nostats.png' );
}
.catalogue-table .cell a span{
	display: block;
	float: right;
	
	padding: 3px;
	overflow: hidden;
	
	background-color: #333;
	
	font-size: 7pt;
	color: #fff
}
.catalogue-table .cell a.order{
	display: block;
	height: 30px;
}
.catalogue-table .cell a.order::before{
    font-family: "FontAwesome";
    font-size: 20px;
    color: #ddd;
}
.catalogue-table .cell a.order:hover::before{
    color: #F1586C;
}
.catalogue-table .cell a.order.up::before{
    content: "\f077";
}
.catalogue-table .cell a.order.down::before{
    content: "\f078";
}
.catalogue-table .cell a.link{
	display: block;
	margin: auto;
	
	width: 100%;
	overflow: hidden;
	
	color: #F1586C;
}
.catalogue-table .cell a.link:hover{
    text-decoration: underline;
}
.catalogue-table .cell a.button{
	display: block;
	margin: auto;
	
	width: 90%;
	padding: 5px 5%;
	
	color: #6688aa;
	
	background-color: #ddeeff;
}
.catalogue-table .cell a.button:hover{
	background-color: #bbddff;	
}
.catalogue-table .cell div {
	text-align: left;
	font-size: 10pt
}
.catalogue-table .cell div.local {
	float: left;
	margin: 2px 2px 0 0;
	padding: 2px;
	
	border: 1px solid #ddd;
}
.catalogue-table .cell div a{
	color: #6688aa
}
.catalogue-table .cell select{
	width: 100%;
	
	font-size: 10pt;
	
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
}
.catalogue-table .cell textarea{
	height: 100%;
	max-width: 100%;
	width: 100%;	
	
	font-size: 8pt;
	color: #666;
}
/*============================================================================
    CHECKBOX
  ----------------------------------------------------------------------------*/
.catalogue-table label.checkbox {
    display: block;
    position: relative;
    width: 100%;
    
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.catalogue-table label.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.catalogue-table label.checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 18px;
    width: 18px;
    
    text-align: center;
    
    background-color: #ddd;
}
.catalogue-table label.checkbox input:checked ~ .checkmark{
    background-color: #F1586C;
}
.catalogue-table label.checkbox:hover .checkmark:after {
    display: block;
    
    color: #666;
}
.catalogue-table label.checkbox:hover input:checked ~ .checkmark:after {
    color: #fff;
}
.catalogue-table label.checkbox .checkmark:after {
    display: none;
    margin-top: 2px;
    
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 12px;
    color: #fff;
}
.catalogue-table label.checkbox input:checked ~ .checkmark:after {
    display: block;
}