.dashboard .section{
    box-sizing: border-box;
    padding: 20px 5%;
}
.dashboard .section .header{
    padding-bottom: 40px;
    
    font-size: 14pt;
    color: #555;
}
.dashboard .section.s1{
    font-size: 0;
    
    background-color: #fcfcfc;
}
.dashboard .section.s1 .item{
    display: inline-block;
    width: 25%;
    
    text-align: center;
    font-size: 12pt;
    color: #666;
}
.dashboard .section.s1 .item::before{
    margin-bottom: 20px;
    display: block;
    
    font-family: 'FontAwesome';
    font-size: 40px;
    color: #F3576C;
}
.dashboard .section.s1 .item:first-child::before{
    content: "\f15c"
}
.dashboard .section.s1 .item:nth-child(2)::before{
    content: "\f06e";
}
.dashboard .section.s1 .item:nth-child(3)::before{
    content: "\f00c";
}
.dashboard .section.s1 .item:last-child::before{
    content: "\f007";
}
.dashboard .section.s2{
    background-color: #fafafa;
}
.dashboard .section.s3{
    display: table;
    width: 100%;
    
    background-color: #f8f8f8;
}
.dashboard .section.s3 .item{
    display: inline-block;
    width: 45%;
}
.dashboard .section.s3 .item:first-child{
    margin-right: 10%;
}
.dashboard .section.s3 .row{
    display: table-row;
    width: 100%;
    
    font-size: 0;
}
.dashboard .section.s3 .row .cell{
    display: table-cell;
    vertical-align: top;
    padding: 10px 0 5px 0;
    
    border-bottom: 1px dotted #e0e0e0;
}
.dashboard .section.s3 .row .image{
    width: 10%;
    
    text-align: center;
    font-size: 10pt;
    color: #aaa;
}
.dashboard .section.s3 .row .image img{
    width: 40px;
    height: auto;
    
    margin-bottom: 5px;
    
    border: 2px solid #ccc;
    border-radius: 50%;
}
.dashboard .section.s3 .row .text{
    padding-left: 5%;
    padding-right: 5%;
    
    font-size: 12pt;
    color: #666;
}
.dashboard .section.s3 .row .text .subtext{
    margin-bottom: 10px;
    
    font-size: 10pt;
    color: #aaa;
}
.dashboard .section.s3 .row .text .subtext::before{
    display: inline-block;
    margin-right: 10px;
    
    font-family: "FontAwesome";
    font-size: 14px;
    color: #aaa;
}
.dashboard .section.s3 .row .text .subtext.date::before{
    content: "\f073";
}
.dashboard .section.s3 .row .text .subtext.visits::before{
    content: "\f06e";
}
.dashboard .section.s3 .row .button-edit{
    width: 10%;
    
    text-align: right;
}
.dashboard .section.s3 .row .button-edit::before{
    content: "\f303";
    font-family: "FontAwesome";
    font-size: 20px;
    color: #F3576C;
}
.dashboard .section.s4{
    background-color: #f6f6f6;
}