
@font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.eot');
    src: url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.woff') format('woff'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.woff2') format('woff2'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.ttf') format('truetype'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.svg#icomoon') format('svg');
    src: url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.eot');
    src: url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.woff') format('woff'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.woff2') format('woff2'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.ttf') format('truetype'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.svg#icomoon') format('svg');
    src: url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.eot');
    src: url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.woff') format('woff'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.woff2') format('woff2'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.ttf') format('truetype'),
         url('../../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}