/* Button */
div.imgbutton > span.text, 
div.imgbutton > input.button
{
	width: 300px
}
div.imgbutton.first
{
	display: block;
}
div.imgbutton
{
	position: relative;
	
	width: 298px;
	height: 28px;
	margin-top :5px;
	
	background-color: #88aacc;
	border: 1px solid #999;
}
div.imgbutton > span.text
{
	position: absolute;
	top: 0;
	left: 0;
	
	line-height: 28px;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	color: #113355
}
div.imgbutton > input.button
{
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	
	font-size: 30px;
	
	opacity: 0;
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
	cursor: pointer;
}
div.imgbutton > input.path
{
	display: none;
	position: absolute;
	top: 0;
	left: 35px;
	width: 253px;
	height: 28px;
	z-index: -1;
	margin: 0;
	padding: 0;
	
	background-color: #fafafa;
	border: 0;
	border-right: 1px solid #999;
	-webkit-border-top-right-radius: 5px;
     -khtml-border-top-right-radius: 5px;
       -moz-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
     -khtml-border-bottom-right-radius: 5px;
       -moz-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
	
	padding: 0 5px 0 5px;
	text-indent: 10px;
	line-height: 28px;
	font-size: 10pt
}
div.imgbutton > span.remove
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 35px;
	height: 28px;
	z-index: -2;
	
	background: url('../../images/form/images/imgRemove.bg.png') no-repeat center;
	
	cursor: pointer;
}
div.imgbutton > input.path.show
{
	display: block;
	z-index: 500
}
div.imgbutton > span.remove.show
{
	display: block;
	z-index: 501
}
div.img_actions div{
	width: 100px;
	padding: 0 10px;
	
	font-size: 14px;
	
	background-color: #f0f5fa;
	border: 1px solid #f0f5fa;
	border-bottom: 1px solid #ddeeff;	
}
div.img_actions label{
	margin: 5px 0;	
	
	font-style: normal;
}
input.img_alt{
	line-height: 10px;
	height: 10px;
	margin: 2px 0;
	
	font-size: 8pt;
	color: #666;
	
	border-radius: initial;
}
label.img_path{
	font-style: italic;
	color: #666;
	cursor: pointer;	
}
label.img_path::before{
	display: inline-block;
	margin-left: 3px;
	margin-right: 14px;

	content: "\f0c5";
	font-family: "FontAwesome";
	font-size: 10px;
}
/* max-width : 640px */
@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px)
{
div.imgbutton > span.text, 
div.imgbutton > input.button
{
	width: 150px
}
div.imgbutton
{
	position: relative;
	width: 148px;
}
div.imgbutton > input.path
{
	width: 103px;
}
}

/* Picture */
/*
div.imgpicture
{
	position: relative;
	
	width: 398px;
	height: 70px;
	margin-top: 5px;
	
	background-color: #f5f5f5;
	border: 1px solid #999999;
}
div.imgpicture > img
{
	position: absolute;
	top: 4px;
	left: 4px;
	
	width: auto;
	height: 62px;
	
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	color: #113355
}
div.imgpicture > span.text
{
	position: absolute;
	top: 0;
	right: 0;
	width: 330px;
	
	line-height: 70px;
	text-align: center;
	text-decoration: underline;
	color: #336688;
	font-size: 10pt;
	
	cursor: pointer	
}
*/
.img_wrapper {
	overflow: hidden;
	position: relative;
}
.img_wrapper > .item {
	display: inline-block;
	
	margin: 20px;
}
.img_wrapper > .item img.published {
	background-color: #ffffaa
}
.img_wrapper > .item img.default{
	border: 1px solid #ff0000;
}
.img_wrapper > .item > img {
	width: 100px;
	height: 100px;
	padding: 15px 10px;
	
	border: 1px solid #ccc;
	
	cursor: pointer;
}
.img_wrapper > .item > .input_actions input[type="checkbox"],
.img_wrapper > .item > .input_actions input[type="radio"]{
	display: inline-block;
	
	width: 16px;
	height: 16px;
} 
.img_wrapper > .item > .input_actions label{
	margin: 0;	
}
.img_wrapper > .item > .title > input
{
	float: left;
	
	width: 80px;
	height: 20px;
	overflow: hidden;
	
	line-height: 20px;
	font-size: 10pt;
	color: #aaa;
	
	cursor: default
}
/* max-width : 640px */
@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px)
{
}