.form-message span{
	display: inline-block;
	
	vertical-align: middle;
	
	font-size: 21pt;
}
.form-message .item{
	padding: 10px 5%;
	
	font-family: icons;
	font-size: 12pt; 
}
.form-message .item.success{
	color: #00cc00;
	
	border-top: 1px solid #66ff66;
	border-bottom: 1px solid #66ff66;
	background-color: #eeffee;
}
.form-message .item.error{
	color: #cc0000;
	
	border-top: 1px solid #ff6666;
	border-bottom: 1px solid #ff6666;
	background-color: #ffeeee;
}
.form-message .item.warning{
	color: #aaaa00;
	
	border-top: 1px solid #ffff66;
	border-bottom: 1px solid #ffff66;
	background-color: #ffffee;
}
.form-message .item::before{
	display: inline-block;
	margin-right: 10px;

	font-family: "FontAwesome";
	font-size: 12pt;
}
.form-message .item.success::before{
	content: "\f00c";
}
.form-message .item.error::before {
	content: "\f06a";
}
.form-message .item.warning::before {
	content: "\f071";
}
.form.admin{
	overflow: hidden;
}
.form_left_col,
.form_right_col{
	float: left;	
	overflow: hidden;
}
.form_left_col{	
	width: 60%;
}
.form_right_col{
	width: 40%;
}
.form.admin .local {
	position: relative;	
	overflow: hidden;
}
.form.admin .local .tabs{
	overflow: hidden;
	
	width: 90%;
	margin: 0 0 20px 5%;
	
	border-bottom: 1px solid #ddd;
}
.form.admin .local .tabs .item{
	display: inline-block;
	
	line-height: 20px;
	padding: 5px 10px;
	
	font-size: 10pt;
	color: #666;
	
	border-left: 1px solid #ddd;
}
.form.admin .local .tabs .item:nth-child( 1 ){
	border-left: none;
}
.form.admin .local .tabs .item.selected{
	background-color: #eee;
}
.form.admin .local .fields{
	position: relative;
	width: 100%;
}
.form.admin .local .fields .item{
	position: absolute;
	width: 100%;
}
.form.admin .local .fields .item:nth-child( 1 ){
	position: relative;	
}
.form.admin > .header{
	width: 99%;
	overflow: hidden;
	padding: 15px 0.5%;
	
	line-height: 25px;
	font-weight: bold;
	font-size: 14pt;
	color: #666;
}
.form.admin > .link_button{
	display: inline-block;
	
	padding: 10px 15px;
	margin: 5px;
	
	font-size: 10pt;
	color: #fff;
	
	background-color: #6688aa;
	border: 1px solid #224466;	
}
.form.admin .seperator {
	width: 100%;
	
	border-top: 1px solid #ddd;	
}
.form_tabs{
	overflow: hidden;
	
	width: 96%;
	padding: 0 2%;
	
	border-bottom: 1px solid #ddd;	
}
.form_tabs span{
	display: block;
	float: left;
	position: relative;
	
	padding: 5px 10px;
	margin-top: 10px;
	margin-right: 5px;
	
	font-size: 10pt;
	white-space: nowrap;
	color: #666;
	
	background-color: #ddd;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor: pointer;
}
.form_tabs span.highlighted{
	border-left: 1px solid #ff6666;
	border-top: 1px solid #ff6666;
	border-right: 1px solid #ff6666;
	background-color: #fff9f9;	
}
.form_tabs span.selected{
	margin-top: 5px;
	padding-bottom: 10px;
	
	color: #000;
	
	background-color: #fff;
}
.form_tabs span.disabled{
	color: #ccc;
        
	background-color: #eee;
}
.form_tab_item{
	position: absolute;
	top: -20000px;
}
.form_tab_item.visible{
	position: relative;
	top: 0;
}
form{
	display: inline-block;
	
	width: 100%;
	
	text-align: left;
}
form fieldset{
	overflow: hidden;
	vertical-align: top;
	
	width: 97%;
	margin: 20px 0 20px 2%;
	
	background-color: #fff;
	box-shadow: 1px 2px 3px #ccc;
}
form .form_right_col fieldset{
	width: 95%;
	margin: 20px 2% 20px 2%;
}
form fieldset div.header{
	margin-bottom: 10px;
	
	font-size: 14pt;
	color: #000;
}
form .element.hidden, /* hidden */
form button.hidden{
	visibility: hidden;
	margin: 0;
	width: 0; 
	height: 0; 
	padding: 0;
	
	font-size: 0; 
	
	border: none;
}
form .element{
	overflow: hidden;
	
	width: 90%;	
	margin: 20px 5% 0 5%;
	padding-bottom: 20px;
}
form .element.small{
	width: 40%
}
form .element.inline{
	display: inline-block;
	
	width: 40%;	
	margin: 0 5%;
}
form .element .header{
	margin-top: 20px;
	margin-bottom: 0;
}
form .highlighted{
	border: 1px solid #ff6666;
	background-color: #fff9f9;
}
form label, 
form label > span, 
form input, 
form select, 
form textarea{
	display: block;
	
	font-size: 11pt;
} 
form input, 
form textarea{
	width: 95%;
	padding: 5px 2%;
} 
form input, 
form select, 
form textarea, 
form button,
form .button,
form fieldset{
	border: 1px solid #ddd;
}
form label{
	display: inline-block;
	
	width: 100%;
	margin: 5px 0;
	
    
	font-size: 10pt;
}
form label.checkbox,
form label.radio{
	display: inline-block;
	padding: 0;
	line-height: 15px;
	width: auto;
	
	font-style: italic;
	color: #666;
}
form label b{
	color: #ff4444;
}	
form label a{
	float: right;
	
	color: #6688aa;	
}
form label a:hover{
	text-decoration: underline;
}
form label span.info{
	width: 15px;
	height: 15px;
	 
	background: url('../../images/admin/form/info.bg.png') no-repeat center;
	
	cursor: pointer;
}
form label small{
	display: inline-block;
	
	margin-top: 5px;
	
	font-size: 10pt;
	color: #aaa;
}
form .tinyMCEWrapper,
form .tinyMCEWrapper span{
	width: 100%;
}
form input.radio,
form input.checkbox{
	display: inline-block;
	
	width: 15px;
	height: 15px;
	margin-right: 10px;
	padding: 0;
}
form input[readonly="readonly"]{
	background-color: #f5f5f5;	
}
form textarea{
	resize: none;
	height: 100px;
	max-height: 150px;
}
form textarea.small{
	max-height: 50px;
}
form textarea.large{
	min-height: 250px;
}
form select{
	width: 100%;
	padding: 4px 0;	
}
form select[multiple='multiple']{
	height: 150px;
    font-size: 8pt;
}
form button,
form .button{
    display: inline-block;
    padding: 10px 20px;
    
    font-size: 11pt;
    font-weight: bold;
    color: #fff;
    
    border: 1px solid #F1586C;
    background-color: #F1586C;
}
form button:hover,
form .button:hover{
    color: #F1586C;
    
    background: #fff;
}
div.button.delete{	
	line-height: 40px;
	
	border-top: 1px solid #ff8888;
	border-right: 1px solid #aa4444;
	border-bottom: 1px solid #aa4444;
	border-left: 1px solid #ff8888;
	background-color: #ff6666;
}
div.button.more{
	width: 150px;
	height: 30px;
	line-height: 20px;
	
	background-color: #1e8cb0;
}
form button.loading,
form .button.loading{
	background-image: url('../../images/admin/form/loading.svg');
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: center;
	
	color: transparent;
}
form div.add_button{
	overflow: hidden;
	
	margin: 20px 0;
	padding-bottom: 20px;
	vertical-align: top;
	
	border: 1px solid #eee;
	border-radius: 3px;	
}
form .add_button_header{
	width: 100%;
	padding: 5px 2%;
	
	background-color: #eee;	
}
form .add_button_header > span{
	display: block;

	cursor: pointer;
}
form .add_button_header > span::before{
	display: inline-block;

	content: "\f410";
	font-family: "FontAwesome";
	font-size: 14pt;
	color: #6688aa;
}
form a.add_button{
	display: inline-block;
	
	padding: 10px 15px;
	margin: 10px 0;
	
	font-size: 10pt;
	color: #fff;
	
	background-color: #6688aa;
	border-radius: 3px;	
}
form div.emphasized{
	padding: 10px 0;
	
	text-align: center;
	font-weight: bold;
	font-size: 26pt;	
}
form .user-image{
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 200px;
}
form .ajax-input-wrapper{
    position: relative;
    
    padding-top: 40px;
}
form .ajax-input{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 95%;
    height: 20px;
    line-height: 20px;
    
    background: transparent;
}
form .ajax-input-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 95%;
    height: 20px;
    line-height: 20px;
}
form .ajax-input-container{
}   
form .ajax-input-item{
    position: relative;
    display: inline-block;
    margin: 10px 5px;
    padding: 5px 30px 5px 10px;
    
    font-size: 11pt;
    
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form .ajax-input-item-close{
    position: absolute;
    top: 6px;
    right: 5px;
    width: 15px;
    height: 15px;
    
    cursor: pointer;
}
form .ajax-input-item-close::before{
    display: inline-block;
    line-height: 15px;
    
    content: "\00d7";
    font-size: 14pt;
    font-weight: bold;
}
form .ajax-input-item input{
    overflow: visible;
}
.form_left_col .catalogue-table .cell{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* max-width : 768px */
@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px){
	.left_col,
	.right_col{
		float: none;
		
		width: 100%;	
	}
}
/*
|-------------------------------------------------------------------------------
|   FORM BUILDER
|-------------------------------------------------------------------------------
*/
.form-builder-wrapper{
    box-sizing: border-box;
    padding: 20px;
    
    font-size: 0;
}
.form-builder-wrapper > .top{
    display: flex;
}
#formBuilderButtonSave{
    display: inline-block;
    padding: 10px 20px;
    
    font-size: 11pt;
    font-weight: bold;
    cursor: pointer;    
    color: #fff;
    
    background-color: #F1586C;
    border: 1px solid #F1586C;
}
#formBuilderButtonSave::before{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    
    content: "\f0a0";
    font-family: "FontAwesome";
    font-size: 10pt;
    color: #fff;
}
#formBuilderButtonSave.saved::before{
    content: "\f058";
}
#formBuilderPanelButtons{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    
    border-right: 1px solid #ddd;
}
#formBuilderPanelEdit{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}
#formBuilderPanelPreview{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    
    border-top: 1px solid #ddd;
}
#formBuilderPanelButtons > .button{
    display: inline-block;
    width: 45%;
    min-width: 120px;
    max-width: 200px;
    margin: 2px 2.5%;
    padding: 5px 15px;
    
    font-size: 11pt;
    color: #fff;
    cursor: pointer;
    
    border: 1px solid #F1586C;
    background-color: #F1586C;
}
#formBuilderPanelButtons > .button::before{
    display: inline-block;
    width: 30px;
    
    font-family: "FontAwesome";
    font-size: 9pt;
    color: #fff;
}
#formBuilderPanelButtons > .button:hover{
    color: #F1586C;
    
    background-color: #fff;
}
#formBuilderPanelButtons > .button:hover::before{
    color: #F1586C;
}
#formBuilderPanelButtons > .button.text-input::before{
    content: "\f031";
}
#formBuilderPanelButtons > .button.email-input::before{
    content: "\f0e0";
}
#formBuilderPanelButtons > .button.textarea::before{
    content: "\f14b";
}
#formBuilderPanelButtons > .button.select::before{
    content: "\f0c9";
}
#formBuilderPanelButtons > .button.checkbox::before{
    content: "\f03a";
}
#formBuilderPanelButtons > .button.radio::before{
    content: "\f0ca";
}
#formBuilderPanelEditElements{
    background: #f5f5f5;
}
#formBuilderPanelEdit > .button{
    display: inline-block;
    margin-top: 20px;
    padding: 5px 20px;
    
    text-align: center;
    font-size: 11pt;
    color: #fff;
    cursor: pointer;
    
    border: 1px solid #F1586C;
    background-color: #F1586C;
}
#formBuilderPanelEdit > .button:hover{
    color: #F1586C;
    
    background-color: #fff;
}
#formBuilderPanelEdit .content > input,
#formBuilderPanelEdit .content > textarea,
#formBuilderPanelEdit .content > select{
    margin-top: 10px;
}
#formBuilderPanelEdit .content > .options-wrapper{
    position: relative;
    
    box-sizing: border-box;
    margin-top: 10px;
    padding: 5px;
    
    cursor: pointer;
    
    background: #f8f8f8;
}
#formBuilderPanelEdit .content > .options-wrapper > label{
    position: absolute;
    top: 0;
    right: 10px;
    display: inline-block;
    width: auto;
    
    font-size: 10pt;
    color: #666;
}
#formBuilderPanelEdit .content > .options-wrapper > .buttons .button{
    display: inline-block;
}
#formBuilderPanelEdit .content > .options-wrapper > .buttons .button::before{
    display: inline-block;
    padding: 2px 5px;
    
    font-family: "FontAwesome";
    font-size: 12px;
    color: #F1586C;
    
    background: transparent;
}
#formBuilderPanelEdit .content > .options-wrapper > .buttons .button.add::before{
    content: "\f067";
}
#formBuilderPanelEdit .content > .options-wrapper > .buttons .button.remove::before{
    content: "\f068";
}
#formBuilderPanelEdit .content > .options-wrapper > .buttons .button:hover::before{
    color: #fff;
    
    background: #F1586C;
}
#formBuilderPanelEdit .content > .options-wrapper .item-wrapper{
    margin-top: 10px;
}
.form-builder-preview-panel{
    width: 100%;
}
.form-builder-preview-item{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0 auto;
    padding: 5px;
    
    background: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 5px;
}
.form-builder-preview-item .panel{
    margin-bottom: 20px;
    
    border-bottom: 1px solid #ddd;
}
.form-builder-preview-item .button{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    
    cursor: pointer;
}
.form-builder-preview-item .button::before{
    font-family: "FontAwesome";
    font-size: 16px;
    color: #ccc;
}
.form-builder-preview-item .button:hover::before{
    color: #F1586C;
}
.form-builder-preview-item .button.edit::before{
    content: "\f303";
}
.form-builder-preview-item .button.remove::before{
    content: "\f2ed";
}
.form-builder-preview-item .content .group > label{
    margin: 5px 0;
    
    font-size: 10pt;
    font-weight: bold;
    color: #666;
}
.form-builder-preview-item .content .group > label > .required{
    position: relative;
    display: inline-block;
}
.form-builder-preview-item .content .group > label > .required::before{
    position: absolute;
    top: -15px;
    display: inline-block;
    margin-left: 5px;
    
    content: "\f069";
    font-family: "FontAwesome";
    font-size: 4pt;
    color: #aa0000;
}
.form-builder-preview-item .content .group > .sublabel{
    display: block;
    margin-bottom: 5px;
    
    font-size: 9pt;
    color: #aaa;
}
.form-builder-preview-item .content .group > input{
    color: #666;
}
.form-builder-preview-item .content .group > textarea{
    height: 50px;
}
.form-builder-preview-item .content .group > label > input[type="checkbox"],
.form-builder-preview-item .content .group > label > input[type="radio"]{
    float: left;
    width: auto;
    margin-right: 10px;
}