.main_header{
    overflow: hidden;

    width: 98%;	
    padding: 20px 5%;

    background-color: #fff;
    border-bottom: 1px solid #E2E2E2;
    -webkit-box-shadow: inset 0px 0px 1px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
       -moz-box-shadow: inset 0px 0px 1px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
         -o-box-shadow: inset 0px 0px 1px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
            box-shadow: inset 0px 0px 1px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
}
.main_header .title{
    display: inline-block;
    overflow: hidden;

    font-size: 12pt;
    color: #666;
}
.main_header .title a{
    font-weight: bold;
    color: #F1586C;
}