div.logo{
	width: 100%;
	height: 150px;
	margin-top: 100px;
	
	background: url( '../../images/admin/login/logo.png' ) no-repeat center;
}
.form.admin.login{
	margin: auto;
	width: 320px;
	padding: 20px;
	
	text-align: center;
	
	background-color: #eee;
}
.form.admin .version{
	font-size: 10pt;
	font-weight: bold;
}