div.message
{
	width: 100%;
	height: 50px;
}
div.header
{
	width: 90%;
	overflow: hidden;
	padding: 15px 5%;
	
	line-height: 25px;
	font-weight: bold;
	font-size: 14pt;
	color: #666
}
div.map
{
	width: 98%;
	height: 400px;
	
	border: 5px solid #aaa;
	border-radius: 10px;
}
a.marker_delete
{
	display: block;
	
	margin-top: 10px;
	padding: 5px;
	
	font-size: 12pt;
	color: #6688aa;
	text-align: center;
	
	background-color: #aaccee;
	border-radius: 5px;
}