div.message
{
	width: 100%;
	height: 50px;
}
div.header
{
	width: 90%;
	overflow: hidden;
	padding: 15px 5%;
	
	line-height: 25px;
	font-weight: bold;
	font-size: 14pt;
	color: #666
}
div.mediaMenu
{
	width: 98%;
	overflow: hidden;
	padding-left: 2%;
	
	border-bottom: 2px solid #ddd;
}
div.mediaMenu > ul > li
{
	float: left;
	margin: 5px 0 0 5px;
	
	width: 100px;
	height: 30px;
	
	border: 1px solid #ddd;
	border-bottom: 0;
	
	cursor: default
}
div.mediaMenu > ul > li.selected
{
	margin-top: 0;
	
	height: 35px;
	
	border-color: #aaa;
}
div.mediaMenu > ul > li > span
{
	display: block;
	margin: 1px;
	
	width: 98px;
	height: 28px;
	
	background-color: #f5f5f5;
	
	line-height: 28px;
	text-indent: 10px;
	font-size: 10pt;
	color: #aaa;
	
	cursor: default
}
div.mediaMenu > ul > li > span.selected
{
	height: 33px;
	
	background-color: #f0f7ff;
	
	line-height: 33px;
	font-weight: bold;
	color: #aaa
}
div.wrapper
{
	overflow: hidden;
	position: relative;
}
div.wrapper > .item
{
	position: relative;
	display: inline-block;
	margin: 20px;
	
	width: 100px;
	height: 125px;
	padding: 10px;
	
	border: 1px solid #ccc
}
div.wrapper > .item.doc
{
	width: 200px;
	height: 75px;
}
div.wrapper > .item.published
{
	background-color: #ffffaa
}
div.wrapper > .item.default
{
	border: 1px solid #ff0000;
}
div.wrapper > .item > img 
{
	position: absolute;
	margin-top: 5px;
	
	width: 100px;
	height: 100px;
	
	cursor: pointer
}
div.wrapper > .item.doc > img 
{
	position: absolute;
	margin-top: 5px;
	
	width: 50px;
	height: 50px;
}
div.wrapper > .item > .actions
{
	display: none;
	position: relative;
	margin-top: 5px;
	
	width: 100%;
	
	background-color: #666;
}
div.wrapper > .item > .input_actions{
	position: relative;
	display: block;
	
	margin-top: 150px;
} 
div.wrapper > .item > .actions > a
{
	display: block;
	
	width: 100%;
	height: 20px;
	
	border-bottom: 1px solid #aaa;
	
	line-height: 20px;
	text-indent: 5px;
	font-size: 10pt;
	color: #fff;
	
	cursor: pointer;
}
div.wrapper > .item > .actions > a.checked {
	color: #fff;
	
	background-color: #00aaaa;
}
div.wrapper > .item > .actions > a:hover
{
	background-color: #ffaaaa;
	
	color: #888
}
div.wrapper > .item > .title
{
	width: 100%;
	height: 20px;
}
div.wrapper > .item > .title > input
{
	float: left;
	
	width: 80px;
	height: 20px;
	overflow: hidden;
	
	line-height: 20px;
	font-size: 10pt;
	color: #aaa;
	
	cursor: default
}
div.wrapper > .item.doc > .title > .name
{
	width: 180px;
}
div.wrapper > .item > .title > .actionsButton
{
	float: left;
	
	width: 20px;
	height: 20px;
	
	line-height: 20px;
	text-indent: 5px;
	font-size: 12pt;
	font-weight: bold;
	color: #ffaaaa;
	
	cursor: pointer;
}