.message{
	display: none;
	overflow: hidden;
	
	width: 100%;
}
.message span{
	display: inline-block;
	
	vertical-align: middle;
	
	font-size: 21pt;
}
.message .item{
	padding: 5px 5%;
	
	font-family: icons;
	font-size: 12pt; 
}
.message .item.success{
	color: #00cc00;
	
	border-top: 1px solid #66ff66;
	border-bottom: 1px solid #66ff66;
	background-color: #eeffee;
}
.message .item.error{
	color: #cc0000;
	
	border-top: 1px solid #ff6666;
	border-bottom: 1px solid #ff6666;
	background-color: #ffeeee;
}
.message .item.warning{
	color: #aaaa00;
	
	border-top: 1px solid #ffff66;
	border-bottom: 1px solid #ffff66;
	background-color: #ffffee;
}