div.pagination{
	width: 90%;
	overflow: hidden;
	margin: 10px 0;
	padding-bottom: 15px;
}
div.pagination > a{
	display: block;
	float: left;
	overflow: hidden;
	
	height: 25px;
	padding: 0 10px;
	margin: 0 5px;
	
	text-align:center;
	line-height: 25px;
	font-size: 10pt;
	color: #ed9964;
	
	border: 1px solid #ed9964;
	background-color: #fff;
}
div.pagination > a.first,
div.pagination > a.prev,
div.pagination > a.next,
div.pagination > a.last{
	background-repeat: no-repeat;
	background-position: center;
}
div.pagination > a.first,
div.pagination > a.prev{
	padding: 0 15px;	
}
div.pagination > a.next,
div.pagination > a.last{
	padding: 0 10px;	
}
div.pagination > a.first{
	background-color: #ed9964;
	background-image: url('../../images/mod_pagination/pagination.doublearrow.left.png');
}
div.pagination > a.prev{
	background-color: #ed9964;
	background-image: url('../../images/mod_pagination/pagination.arrow.left.png');
}
div.pagination > a.next{
	background-color: #ed9964;
	background-image: url('../../images/mod_pagination/pagination.arrow.right.png');
}
div.pagination > a.last{
	background-color: #ed9964;
	background-image: url('../../images/mod_pagination/pagination.doublearrow.right.png');
}
div.pagination > a.dots{
	
}
div.pagination > a.selected{
	color: #fff;
	
	background-color: #ed9964;
}
div.pagination > a.corner{	
	width: 5px
}
div.pagination > a:first-child
{	
	-webkit-border-top-left-radius: 0;
     -khtml-border-top-left-radius: 0;
       -moz-border-top-left-radius: 0;
            border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
     -khtml-border-bottom-left-radius: 0;
       -moz-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
}
div.pagination > a:last-child
{	
	-webkit-border-top-right-radius: 0;
     -khtml-border-top-right-radius: 0;
       -moz-border-top-right-radius: 0;
            border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
     -khtml-border-bottom-right-radius: 0;
       -moz-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
}