#infoTitle, #infoDescription, #infoPrice, #infoImages
{
	position: absolute; 
	top: 0;
	left: 0;
	z-index: 5000; 
	
	overflow: hidden;
	width: 300px;
	padding: 5px;
	
	border: 2px solid #aaa;
	-moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
	background-color: #aaa;
	
	color: #fff;
	font-size: 10pt
}
/* max-width : 640px */
@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px)
{
#infoTitle, #infoDescription, #infoPrice, #infoImages
{
	width: 150px;
}
}

