.topHeader{
	width: 100%;
	padding: 30px 0;
	
	font-size: 14pt;
	font-weight: bold;
	color: #666;	
	text-align: center;
	
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
.colorIndex{
	display: table;
	
	width: 100%;
	padding: 5px;
	
	font-size: 12pt;
}
.colorIndex .color{
	display: table-cell;
	
	width: 10px;
	height: 10px;	
}
.colorIndex .text{
	display: table-cell;
	
	padding-left: 20px;
	
	font-size: 10pt;
}
.chart{
	padding: 10px 0;
	
	border: 2px solid #eee;
	border-radius: 5px;
	background-color: #f5f5f5;	
}
.chart .header{
	width: 100%;
	
	text-align: center;
	line-height: 50px;
	font-size: 14pt;
	font-weight: bold;	
	color: #666
}