form > .stats_options{
	overflow: hidden;
	
	width: 98%;
	margin: 15px 1%;
}
form > .stats_options .element{
	float: left;
	overflow: hidden;
	
	width: auto;
	padding: 0;
	margin: 10px;
}
form > .stats_options select{
	width: 180px;
	padding: 8px 5%;
	
	font-size: 12px;
	font-weight: bold;
	color: #666;	
	
	border: 1px solid #aaa;
}
form > .stats_options option{
	font-size: 12px;
	font-weight: bold;
	color: #666;	
}