.system-message span{
	display: inline-block;
	
	vertical-align: middle;
	
	font-size: 21pt;
}
.system-message .item{
	padding: 10px 5%;

	font-size: 12pt; 
}
.system-message .item.success{
	color: #00cc00;
	
	border-top: 1px solid #66ff66;
	border-bottom: 1px solid #66ff66;
	background-color: #eeffee;
}
.system-message .item.error{
	color: #cc0000;
	
	border-top: 1px solid #ff6666;
	border-bottom: 1px solid #ff6666;
	background-color: #ffeeee;
}
.system-message .item.warning{
	color: #aaaa00;
	
	border-top: 1px solid #ffff66;
	border-bottom: 1px solid #ffff66;
	background-color: #ffffee;
}
.system-message .item::before{
	display: inline-block;
	margin-right: 10px;

	font-family: "FontAwesome";
	font-size: 12pt;
}
.system-message .item.success::before{
	content: "\f00c";
}
.system-message .item.error::before {
	content: "\f06a";
}
.system-message .item.warning::before {
	content: "\f071";
}