.ym-parallax{
	position: relative;
	
    overflow: hidden;
}
.ym-parallax-bg{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 200%;
    
    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}