.outerWrapper .slider-wrapper{
	position: relative;
	overflow: hidden;
	height: 660px !important;
}
.slider-wrapper-opacity{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slider-slide-opacity{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/**
 * -------
 * BUTTONS
 * -------
 */
.slider-button{
	position: absolute;
	z-index: 20;
	top: 50%;
	margin-top: -50px;
	width: 100px;
	height: 100px;

	text-align: center;
	cursor: pointer;

	background-color: rgba( 250, 250, 250, 0.1 );
}
.slider-button:before{
	display: inline-block;
	line-height: 100px;

	font-family: "FontAwesome";
	font-weight: bold;
	font-size: 40px;
	color: #DD6F3A;
	
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
	    -ms-transition: all 500ms ease-in-out;
	     -o-transition: all 500ms ease-in-out;
	        transition: all 500ms ease-in-out;
}
.slider-button:hover:before{
	color: #fff;
}
.slider-button.left:hover:before{
	margin-left: -20px;
}
.slider-button.right:hover:before{
	margin-left: 20px;
}
.slider-button.left{
	left: 0;
}
.slider-button.left:before{
	content: "\f104";
}
.slider-button.right{
	right: 0;
}
.slider-button.right:before{
	content: "\f105";
}
/**
 * ----
 * TEXT
 * ----
 */
.slider-text{
 	position: absolute;
 	z-index: 19;
    top: 150px;
 	left: 50%;
 	transform: translateX(-50%);
    display: inline-block;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0 120px;

	cursor: pointer;

	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
	    -ms-transition: all 500ms ease-in-out;
	     -o-transition: all 500ms ease-in-out;
	        transition: all 500ms ease-in-out;
}
.slider-text .title{
	display: inline-block;
    width: 100%;
    padding: 10px 0;

 	font-size: 30pt;
	font-weight: 700;
 	color: #fff;
}
.slider-text .description{
	display: inline-block;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    
    word-wrap: normal;
	font-weight: 300;
 	font-size: 20pt;
 	color: #ccc; 
}
.slider-text .description *{
	font-weight: 300;
 	font-size: 20pt;
 	color: #888; 
}
.slider-text .button{
	margin-top: 40px;
}
/* max-width : 1280px */
@media only screen and (max-width: 1280px),
only screen and (max-device-width: 1280px)
{
	.outerWrapper .slider-wrapper{
		height: 460px !important;
	}
    .slider-text{
        top: 100px;
    	width: 100%;
    }
    .slider-text .title{
        font-size: 16pt;
    }
    .slider-text .description{
        font-size: 12pt;
    }
}
/* max-width : 1024px */
@media only screen and (max-width: 1024px),
only screen and (max-device-width: 1024px)
{
    .slider-button{
        width: 60px;
        height: 60px;
        margin-top: -30px;
    }
    .slider-button.left:before,
    .slider-button.right:before{
        line-height: 60px;

        font-size: 20px;
    }
}
/* max-width : 768px */
@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px)
{
	.outerWrapper .slider-wrapper{
		height: 260px !important;
	}
    .slider-text{
    	display: none;
    }
}