.form{
	float: left;
	display: inline-block;
	overflow: hidden;
	
	width: 44.5%;
	margin: 50px 0;
	padding: 25px 0;
	
	vertical-align: top;
	text-align: center;
	
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}
.form.register{
	float: none;
	margin-left: 28%;	
}
.form.login{
	margin-right: 10%;
}
.form .header{
	display: inline-block;
	
	margin-top: 15px;
	width: 60%;	
	padding-bottom: 10px;
	
	font-weight: bold;
	font-size: 18pt;
	text-align: left;
	
	border-bottom: 2px solid #000;	
}
.form .header > span{
	display: inline-block;
	
	width: 20px;
	height: 20px;
	line-height: 20px;
	
	text-align: center;
	font-size: 14pt;
	color: #fff;
	
	background-color: #ed9964;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
        -ms-border-radius: 10px;
	     -o-border-radius: 10px;
            border-radius: 10px;
    cursor: pointer;
}
.form .subheader{
	display: inline-block;
	
	width: 60%;	
	line-height: 20px;
	padding: 5px 0;
	
	text-align: left;
	font-size: 11pt;
	color: #666;
}
.form .subheader a{
	display: inline-block;
	width: 90%;
	padding: 10px 5%;
	margin: 15px 0;

	text-align: center;
	font-size: 14pt;
	color: #fff;	
	
	background-color: #bd6934;
}
.buttons{
	width: 100%;
	
	text-align: center;	
}
.buttons a{
	display: block;
	
	margin: 25px 32.8%;
	width: 30%;
	padding: 10px 2%;
	
	font-size: 12pt;
	color: #19caaf;
	
	border: 1px solid #19caaf;
}
.popupBg{
	z-index: 10000; 
	position: absolute; 
	top: 0; 
	left: 0; 
	
	background-color: #000;
	-khtml-opacity: 0.5;
	  -moz-opacity: 0.5;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
           opacity: 0.5;
	        filter: alpha(opacity=50);
}
.popupWrapper{
	position: absolute; 
	z-index: 10001; 
	top: 100px; 
	left: 50%; 
	overflow: hidden; 
	
	margin-left: -150px; 
	width: 280px; 
	padding: 25px 10px;
	
	background-color: #fff; 
	border: 1px solid #ed9964;
}
.popupWrapper .popupMessage{
	overflow: hidden; 
	
	width: 80%; 
	padding: 20px 10%; 
	
	font-size: 10pt; 
	color: #666;
}
.popupWrapper .popupButton1{
	overflow: hidden; 
	
	margin: 10px 10%; 
	width: 60%; 
	height: 30px; 
	line-height: 30px;
	padding: 6px 10%;
	
	text-align: center; 
	font-size: 11pt; 
	font-weight: bold;
	color: #fff; 
	
	background-color: #ed9964; 
	cursor: pointer;
}
/* max-width : 640px */
@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px)
{
	.form{
		margin-left: 5%;
		width: 90%;
	}
	.form .header,
	.form .subheader{
		width: 100%;	
	}
	.buttons a{
		display: block;
		
		margin: 25px 22.8%;
		width: 50%;
		padding: 10px 2%;
		
		font-size: 12pt;
		color: #19caaf;
		
		border: 1px solid #19caaf;
	}	
	.popupWrapper{
		margin-left: -40%; 
		width: 80%; 
	}	
}