/*
 *------------------------------------------------------------------------------
 * @requires Font Awesome 5
 *------------------------------------------------------------------------------
 */
.social_links{
    width: 100%;
}
.social_links a{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.social_links a:before{
    display: inline-block;
    vertical-align: top;
    height: 1.6vw;
    width: 1.6vw;
    padding-top: 0.36vw;
    box-sizing: border-box;

    text-align: center;
    font-family: 'FontAwesome-brands';
    font-size: 0.8vw;
    color: #fff;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #666;
}
.social_links a.no_frame:before{

}
.social_links a.rectangle:before{

}
.social_links a.round:before{
    border-radius: 50%;
    border: 1px solid #fff;
}
.social_links a.facebook:before{
    content: "\f39e";
}
.social_links a.twitter:before{
    content: "\f099";
}
.social_links a.googleplus:before{
    content: "\f0d5";
}
.social_links a.linkedin:before{
    content: "\f0e1";
}
.social_links a.youtube:before{
    content: "\f167";
}
.social_links a.pinterest:before{
    content: "\f231";
}
.social_links a.instagram:before{
    content: "\f16d";
}