form,
form label,
form label span,
form input,
form select,
form textarea,
form button
{
	display: block;
	
	width: 100%;
}
form
{
	display: inline-block;
	
	width: 60%;
	
	text-align: left;
}
form input,
form select,
form textarea
{
	margin-bottom: 20px;
	
	line-height: 20px;
	font-size: 10pt
}
form fieldset{
	margin: 15px 0;
	width: 89%;
	padding: 15px 5%;
	
	border: 1px solid #ddd;
	background-color: #f5f5f5;	
}
form .highlighted
{
	background-color: #ffaaaa;
}
#form_login_message,
#form_resetpassword_message,
#form_requestresetpassword_message,
#form_changeinfo_message,
#form_register_message{
	display: none;
	overflow: hidden;
	
	width: 100%;
	margin-bottom: 15px;
	margin-top: 50px;
	
	vertical-align: middle;
	
    -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
            border-radius: 5px;
}
#form_login_message span,
#form_resetpassword_message span,
#form_requestresetpassword_message span,
#form_changeinfo_message span,
#form_register_message span{
	display: inline-block;
	
	font-size: 12pt;
	font-family: "icons";
}
#form_login_message .item,
#form_resetpassword_message .item,
#form_requestresetpassword_message .item,
#form_changeinfo_message .item,
#form_register_message .item{
	width: 90%;
	padding: 10px 5%;
	
	font-family: "icons";
	font-size: 12pt; 
}
#form_login_message .item.success,
#form_resetpassword_message .item.success,
#form_requestresetpassword_message .item.success,
#form_changeinfo_message .item.success,
#form_register_message .item.success{
	color: #00cc00;
	
	background-color: #eeffee;
}
#form_login_message .item.error,
#form_resetpassword_message .item.error,
#form_requestresetpassword_message .item.error,
#form_changeinfo_message .item.error,
#form_register_message .item.error{
	color: #cc0000;
	
	background-color: #ffeeee;
}
form a.link
{
	display: block;
	
	margin-bottom: 5px;
	width: 40%;
	padding: 5px 3%;
	
	font-size: 10pt;
	color: #fff;
	
	background-color: #19caaf;
}
form label
{
	width: auto;
	
	margin-top: 15px;
	min-width: 5px;
	padding: 10px 0;
	
	font-weight: bold;
	font-size: 14px;
	color: #333;
}
form label.checkbox,
form label.radio{
	display: inline-block;
	padding: 0;
	line-height: 15px;
	width: auto;
	
	font-style: italic;
	color: #666;
}
form label.inline
{	
	display: inline-block;
	
	margin: 0;
	width: auto;
	padding: 5px 0;
	
	font-weight: normal;
	font-size: 10pt;
	color: #333;
}
form label b
{
	color: #ff0000;
}	
form label span.info
{
	width: 15px;
	height: 15px;
	 
	background: url('../../../images/form/info.bg.png') no-repeat center;
	
	cursor: pointer
}
form label small
{
	display: block;
	
	font-weight: normal;
	font-size: 10pt;
	color: #666;
}
form div.topInput{
	float: left;
	width: 40%;
	padding-right: 10%;
}
form div.topInput:last-child{
	margin-bottom: 15px;
	padding-right: 0;
}
form div.topInput input{
	width: 100%;
}
form input
{
	height: 27px;
	padding: 5px 0;
	
	text-indent: 10px;
	
	border: 1px solid #ddd;
}
form input.small
{
	width: 200px
}
form input.radio,
form input.checkbox{
	display: inline-block;
	
	width: 15px;
	height: 15px;
	margin-right: 10px;
	padding: 0;
}
form input.inline
{	
	display: inline-block;
	
	margin: 0;
	margin-right: 10px;
	width: 13px;
	height: 13px;
	padding: 5px 0;
}
form select
{
	margin-top: 0;
	padding: 10px;
	
	border: 1px solid #ddd;
	
	cursor: pointer;
}
form textarea
{
	resize: none;
	height: 150px;
	max-height: 150px;
	
	margin-top: 0;
	width: 90%;
	padding: 15px 5%;
	
	border: 1px solid #ddd;
}
form button
{
	float: right;
	
	width: 250px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0 15px;
	
	background-color: #ed9964;
	
	text-align: center;
	letter-spacing: 2px;
	line-height: 40px;
	font-weight: bold;
	font-size: 10pt;
	color: #fff;
	
	cursor: pointer
}
form button.loading
{
	background-image: url('../../../images/form/but.loading.gif');
	background-repeat: no-repeat;
	background-position: center;
	
	font-size: 0;
}
/* max-width : 640px */
@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px)
{
	form{
		margin: 0 5%;
		width: 90%;
	}
	form input,
	form select,
	form button{
		width: 99%;
	}
	form textarea{
		width: 89%;
	}
	form div.topInput{
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}
	form input.small{
		width: 50%;
	}
	form div.msg{
		width: 100%;
	}
	form a.link
	{
		width: 94%;
		padding: 5px 3%;
	}
}