#modMenuCategories{
    overflow: hidden;
    
    text-align: center;
    
    background-color: #111;
    background-image: url( '../../images/mod_menu/categories_bg.png' );
    border-bottom: 1px solid #aaa;
}
#modMenuCategories .item{
    float: left;
    width: 12%;
    margin: 10px 2.2%;
    vertical-align: top;
}
#modMenuCategories .item .img{
    width: 100%;
    height: 100px;
    
    border: 1px solid #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#modMenuCategories .item a{
    display: inline-block !important;
    width: 80%;
    padding: 10px 10% !important;
    margin-top: 20px;
    
    font-size: 9pt;
    color: #F5CC52 !important;
    
    border-bottom: none !important;
    background-color: #222 !important;
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
	    -ms-transition: all 500ms ease-in-out;
	     -o-transition: all 500ms ease-in-out;
	        transition: all 500ms ease-in-out;
}
#modMenuCategories .item a:hover{
    color: #222 !important;
    
    background-color: #F5CC52 !important;
}
/* max-width : 1024px */
@media only screen and (max-width: 1024px),
only screen and (max-device-width: 1024px)
{
    #modMenuCategories .item{
        width: 25%;
        margin: 10px 4%;
    }
}
/* max-width : 768px */
@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px)
{
    #modMenuCategories .item{
        width: 40%;
        margin: 10px 4.5%;
    }
    #modMenuCategories .item .img{
        height: 150px;
    }
}
/* max-width : 480px */
@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px)
{
    #modMenuCategories .item{
        width: 80%;
        margin: 10px 10%;
    }
}