.mod-menu-footer{
	text-align: center;	
}
.mod-menu-footer ul{
	display: inline-block;
	
	text-align: left;	
}
.mod-menu-footer a{
	position: relative;
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 10px;
    
    font-size: 10pt;
    color: #ccc;
}
.mod-menu-footer a.active,
.mod-menu-footer li:hover > a,
.mod-menu-footer li:hover > a:before{
    color: #F55F38;
}
.mod-menu-footer a:before{
	position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "\f105";
    font-size: 12pt;
    font-family: "FontAwesome";
    color: #fff;
}
/* max-width : 768px */
@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px)
{		
	.mod-menu-footer ul{
		display: block;
	}	
}