.menuButton{
	display: none;
	float: right;
	position: relative;
  	z-index: 10001;
	
	width: 50px;
	line-height: 36px;
	
	font-family: "icons";
	font-size: 21pt;
	color: #fff;
	cursor: pointer;
}
#top-menu{
	display: inline-block;
}
#top-menu ul,
#top-menu li,
#top-menu span,
#top-menu a {
  margin: 0;
  padding: 0;
  /*position: relative;*/
  z-index: 10000;
}
#top-menu {
  line-height: 1;
  width: 100%;
}
#top-menu span,
#top-menu a {
  color: #666;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}
#top-menu ul {
	display: table;
  width: 100%;
  list-style: none;
}
#top-menu li.current a{
	/*font-weight: bold;	*/
}
#top-menu > ul > li {
	position: relative;
  display: table-cell;
  height: 56px;
  margin: 0;
  
  text-align: center;
}
#top-menu > ul > li:last-child{
    border-right: none;
    box-shadow: none;
}
#top-menu > ul > li > span,
#top-menu > ul > li > a {
	display: inline-block;
	padding: 20px 10px;	 
	 
	text-align: center;
  	color: #aaa;
  	font-size: 16px;
	font-weight: 700;
}
#top-menu > ul > li.active > span,
#top-menu > ul > li:hover > span, 
#top-menu > ul > li.active > a,
#top-menu > ul > li:hover > a,
#top-menu > ul > li > ul > li.active > span,
#top-menu > ul > li > ul > li:hover > span, 
#top-menu > ul > li > ul > li.active > a,
#top-menu > ul > li > ul > li:hover > a {
  	color: #F55F38;
}
#top-menu > ul > li > ul{
	width: 220px;
	left: 50% !important;
	transform: translateX(-50%);
}
#top-menu .has-sub {
  z-index: 1;
}
#top-menu .has-sub:hover > ul {
  display: block;
}
#top-menu .has-sub ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  
  border: 1px solid #999;
}
#top-menu .has-sub ul li span, 
#top-menu .has-sub ul li a {
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 10pt;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px 10px;
  color: #666;
}
#top-menu .has-sub ul li:hover span,
#top-menu .has-sub ul li:hover a {
}
#top-menu .has-sub ul li span:hover,
#top-menu .has-sub ul li a:hover {
  background: #F55F38;
  color: #fff;
}
#top-menu ul ul li:hover > span,
#top-menu ul ul li:hover > a {
}
#top-menu .has-sub .has-sub:hover > ul {
  display: block;
}
#top-menu .has-sub .has-sub ul {
  display: none;
  position: relative;
  left: 0;
  top: 0;
}
/*
#top-menu.align-right .has-sub .has-sub ul,
#top-menu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
*/
#top-menu .has-sub .has-sub ul li span,
#top-menu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px solid #ddd;
}
#top-menu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
#top-menu ul ul li.last > span,
#top-menu ul ul li:last-child > span,
#top-menu ul ul ul li.last > span,
#top-menu ul ul ul li:last-child > span,
#top-menu .has-sub ul li:last-child > span,
#top-menu .has-sub ul li.last > span,
#top-menu ul ul li.last > a,
#top-menu ul ul li:last-child > a,
#top-menu ul ul ul li.last > a,
#top-menu ul ul ul li:last-child > a,
#top-menu .has-sub ul li:last-child > a,
#top-menu .has-sub ul li.last > a {
  border-bottom: 0;
}
/* max-width : 1024px */
@media only screen and (max-width: 1024px),
only screen and (max-device-width: 1024px)
{
	.menuButton{
		display: block;
	}	
	#top-menu{
		display: none;
		top: -50px;
	}
	#top-menu > ul {
        position: absolute;
        left: 0;
        width: 100%;
        margin-top: 40px;
    }
	#top-menu ul li {
	display: block;
      height: auto;
	  width: 100%;
	  
	  border-bottom: 1px dashed #333;
	}
	#top-menu > ul li {
	  background-color: #000;
	}
	#top-menu .has-sub ul {
        position: relative;
        width: 100%;
	}
}