/**------------------------------------------------------------------------------------------------------
    Here are all available fonts to include except `iconfont` which is DEPRECATED
 ------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: "Nova Mono";
    src: url("../fonts/google/novamono/novamono-1.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: "Nova Mono";
    src: url("../fonts/google/novamono/novamono-2.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(../fonts/google/play/play-400-greek.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Play Bold'), local('Play-Bold'), url(../fonts/google/play/play-700-greek.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(../fonts/google/play/play-400-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Play Bold'), local('Play-Bold'), url(../fonts/google/play/play-700-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'FontAwesome-regular';
    src: url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.eot');
    src: url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.woff') format('woff'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.woff2') format('woff2'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.ttf') format('truetype'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-regular-400.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome-brands';
    src: url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.eot');
    src: url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.woff') format('woff'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.woff2') format('woff2'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.ttf') format('truetype'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-brands-400.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome-solid';
    src: url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.eot');
    src: url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.woff') format('woff'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.woff2') format('woff2'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.ttf') format('truetype'),
    url('../fonts/fontawesome-5.0.13/web-fonts-with-css/webfonts/fa-solid-900.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}