.basic{
	overflow: hidden;
	
	width: 100%;
	margin: auto;	
}
.basic_top{
	width: 100%;
	height: 30px;
	
	border-bottom: 2px solid #666;	
}
.basic_row{
	display: table;
	
	width: 100%;
}
.basic_left_col,
.basic_right_col{
	display: table-cell;
	overflow: hidden;	
	
	vertical-align: top;
}
.basic_left_col{
	width: 15%;
}
.basic_right_col{
	width: 85%;	
	
	background-color: #eee;
}