body > .header,
body > .body,
body > .footer{
    width: 100%;
    overflow: hidden;	
    
    font-size: 0;
}
body > .header > .left{
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 15%;
    height: 70px;
    padding: 10px 0 10px 4%;
    
    background-color: #181B1E;
}
body > .header > .left::after{
    display: inline-block;
    margin-top: 15px;
    overflow: hidden;
    
    content: "YiaMa v1.5";
    letter-spacing: 2px;
    font-size: 14pt;
    color: #6C7276;
}
body > .header > .left .menu-toggle{
    position: absolute;
    top: 20px;
    right: 7%;
    width: 30px;
    height: 30px;
    
    cursor: pointer;
}
body > .header > .left .menu-toggle::before{
    display: inline-block;
    
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 30px;
    color: #aaa;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
body > .header > .left .menu-toggle:hover::before{
    color: #F3576C;
}
body > .header > .right{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 85%;
    height: 70px;
    padding: 10px 5%;
}
body > .header > .right .messages-notifications{
}
body > .body{
    display: flex;
    
    font-size: 0;
}
body > .body > .left,
body > .body > .right{
    display: inline-block;

    vertical-align: top;
}
body > .body > .left{
    width: 15%;
    
    background: #F1586C;
}
body > .body > .right{
	width: 85%;	
    
    background: #fffafa;
}
body .right > .navigation{
    overflow: hidden;
    width: 96%;	
    padding: 20px 2%;
    
    font-size: 12pt;
    color: #666;

    background-color: #fff;
    border-bottom: 1px solid #E2E2E2;
    -webkit-box-shadow: inset 0px 0px 1px 0px #ABABAB,3px 3px 3px 1px #DDDDDD;
       -moz-box-shadow: inset 0px 0px 1px 0px #ABABAB,3px 3px 3px 1px #DDDDDD;
         -o-box-shadow: inset 0px 0px 1px 0px #ABABAB,3px 3px 3px 1px #DDDDDD;
            box-shadow: inset 0px 0px 1px 0px #ABABAB,3px 3px 3px 1px #DDDDDD;
}
body .right > .navigation a{
    font-weight: bold;
    color: #F1586C;
}
body > .footer{
	border-top: 2px solid #ddd;	
	background-color: #666;
}
/*============================================================================
   TOGGLE
  ----------------------------------------------------------------------------*/
body > .header > .left,
body > .header > .right,
body > .body > .left,
body > .body > .right{
    -webkit-transition: width 0.3s linear;
       -moz-transition: width 0.3s linear;
        -ms-transition: width 0.3s linear;
         -o-transition: width 0.3s linear;
            transition: width 0.3s linear;
}
body > .header > .left:after{
    -webkit-transition: 
                opacity 0.3s linear,
                width 0.3s linear;
       -moz-transition: 
                opacity 0.3s linear,
                width 0.3s linear;
        -ms-transition:
                opacity 0.3s linear,
                width 0.3s linear;
         -o-transition:
                opacity 0.3s linear,
                width 0.3s linear;
            transition:
                opacity 0.3s linear,
                width 0.3s linear;
}
body > .header > .right{
	background-color: #181B1E;
}
body > .header.toggle > .left{
    width: 5%;
    
    background-position: 10% center;
}
body > .header.toggle > .left:after{
    opacity: 0;
    width: 0;
}
body > .header > .left .menu-toggle.toggle::before{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
body > .header.toggle > .right{
    width: 95%;
}
body > .body.toggle > .left{
    width: 5%;
}
body > .body.toggle > .right{
    width: 95%;
}
/*============================================================================
   BUTTONS
  ----------------------------------------------------------------------------*/
.controller-buttons{
    padding: 20px 2%;
    
    font-size: 0;
}
.controller-buttons .left{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.controller-buttons .right{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    
    text-align: right;
}
.controller-buttons .button{
    display: inline-block;
    padding: 10px 20px;
    
    font-size: 11pt;
    font-weight: bold;
    
    border: 1px solid #F1586C;
}
.controller-buttons .left .button{
    margin-right: 20px;
    
    color: #F1586C;
    
    background-color: #fff;
}
.controller-buttons .right .button{
    margin-left: 20px;
    
    color: #fff;
    
    background-color: #F1586C;
}
.controller-buttons .button::before{
    font-family: "FontAwesome";
    font-size: 16px;
}
.controller-buttons .right .button::before{
    display: inline-block;
    margin-right: 10px;
    
    color: #fff;
}
.controller-buttons .left .button::before{
    display: inline-block;
    margin-right: 10px;
    
    color: #F1586C;
}
.controller-buttons .right .button.add::before{
    content: "\f067";
}
.controller-buttons .right .button.save::before{
    content: "\f0c7";
}
.controller-buttons .left .button.return::before{
    content: "\f3e5";
}
.controller-buttons .right .button:hover{
    color: #F1586C;
    
    background-color: #fff;
}
.controller-buttons .left .button:hover{
    color: #fff;
    
    background-color: #F1586C;
}
.controller-buttons .right .button:hover::before{
    color: #F1586C;
}
.controller-buttons .left .button:hover::before{
    color: #fff;
}
