.form-contact .text{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
.form-contact .text li,
.form-contact .text li *{
	font-size: 12pt;
}
.form-contact .text li:nth-child(odd),
.form-contact .text li:nth-child(odd) *{
	margin-top: 40px;
	margin-bottom: 10px;
	
	font-size: 16pt;
	font-weight: 700;
}
.form-contact .text li:nth-child(even){
	margin-bottom: 20px;
}
.form-contact .text li:nth-child(even) *{
	color: #444;
}
.form-contact .form{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	margin-left: 10%;
}
.form-contact form label,  
.form-contact form input, 
.form-contact form select, 
.form-contact form textarea{
	display: block;
	
	font-size: 13pt;
} 
.form-contact form input, 
.form-contact form textarea{
	width: 92%;
	padding: 15px 3%;
}
.form-contact form textarea{
	width: 92%;
	padding: 15px 3%;
} 
.form-contact form input, 
.form-contact form select, 
.form-contact form textarea{
	cursor: text;	
}
.form-contact form input, 
.form-contact form select, 
.form-contact form textarea, 
.form-contact form button,
.form-contact form fieldset{
	color: #888;
	
	border: 1px solid #ddd;
}
.form-contact form input[type="checkbox"],
.form-contact form input[type="radio"]{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: auto;
}
.form-contact form label{
	display: inline-block;
	
	width: 100%;
	margin-bottom: 5px;
	
	font-size: 13pt;
	color: #888;
}
.form-contact form label.checkbox,
.form-contact form label.radio{
	display: inline-block;
	
	padding: 0;
	line-height: 15px;
	width: auto;
	
	font-style: italic;
	color: #666;
}
.form-contact form label b{
	color: #ff4444;
}	
.form-contact form label a{
	float: right;
	
	color: #6688aa;	
}
.form-contact form label a:hover{
	text-decoration: underline;
}
.form-contact form input.radio,
.form-contact form input.checkbox{
	display: inline-block;
	
	width: 15px;
	height: 15px;
	padding: 0;
	margin-right: 5px;
}
.form-contact form input[readonly="readonly"]{
	background-color: #f5f5f5;	
}
.form-contact form textarea{
	resize: none;
	height: 100px;
	max-height: 150px;
}
.form-contact form select{
	width: 100%;
	padding: 4px 0;	
}
.form-contact form button{
	display: inline-block;
	padding: 10px 20px;
	
	color: #fff;
	font-size: 13pt;
	font-weight: 700;
	cursor: pointer;
	
	background: #F55F38;
	border: 2px solid #F55F38;
	
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.form-contact .form-message{
	display: none;
	width: 90%;
	padding: 10px 5%;
	
	font-size: 12pt; 
}
.form-contact .form-message.show{
	display: block;	
}
.form-contact .form-message.success{
	color: #00cc00;
	
	background-color: #eeffee;
}
.form-contact .form-message.error{
	color: #cc0000;
	
	background-color: #ffeeee;
}
.form-contact form .seperator {
	width: 100%;
	margin-top: 40px;
	
	border-top: 1px solid #ddd;	
}
.form-contact form .element,
.form-contact form .group{
	overflow: hidden;
	
	width: 90%;	
	margin: 25px 5% 0 5%;
}
/* max-width : 768px */
@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px)
{
	.form-contact form input, 
	.form-contact form textarea{
		width: 91.5%;
	}
	.form-contact form .element,
	.form-contact form .group{
		width: 90%;	
		margin: 25px 5% 0 5%;
	}
}