div.error
{
	margin-left: 5%;

	width: 90%; 
	overflow: hidden;

	text-align: center; 
	font-size: 12pt; 
	color: #999;
}
div.error > img
{
	display: inline-block;
	
	width: 50%;
	max-width: 300px;
	margin: auto;
}
div.error > a
{
	display: inline-block;
	padding: 10px 0 50px 0;
	
	font-size: 12pt; 
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color: #446688;
}