.mod_menu{
	width: 100%;
    min-height: 100%;
    
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.mod_menu ul,
.mod_menu li{
	overflow: hidden;
	
	/* fix height transition από 0 σε auto με χρήση max-height */
	-webkit-transition: max-height 1s ease-in-out;
	   -moz-transition: max-height 1s ease-in-out;
	    -ms-transition: max-height 1s ease-in-out;
	     -o-transition: max-height 1s ease-in-out;
	        transition: max-height 1s ease-in-out;
}
.mod_menu ul.top{
	max-height: 10000px;	
	height: auto;	
	
			border-bottom-color: #50575f;
}
.mod_menu ul.sub{
	max-height: 0;	
	
			border-bottom-color: white;
}
.mod_menu ul.sub.show{
	max-height: 10000px;	
	height: auto;
}
.mod_menu span,
.mod_menu a{
	display: block;
	
	width: 90%;
	padding: 13px 5%;
	font-size: 13px;
	font-family: "icons";
	font-size: 12pt;
	font-weight: normal;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.35);
	  
	background: #505968;
	border-top: 1px solid #878e96;
	border-bottom: 1px solid #333740;
	background-image: -webkit-linear-gradient(top, #707a84, #5c646d);
	background-image: -moz-linear-gradient(top, #707a84, #5c646d);
	background-image: -o-linear-gradient(top, #707a84, #5c646d);
	background-image: linear-gradient(to bottom, #707a84, #5c646d);
	-webkit-transition: opacity 0.15s;
	-moz-transition: opacity 0.15s;
	-o-transition: opacity 0.15s;
	transition: opacity 0.15s;
	
	cursor: default;
}
.mod_menu span{
	
}
.mod_menu a:hover{
	opacity: .95;
}
.mod_menu .active{
	border-top-color: #7a9096;
	border-bottom-color: #1c638f;
	-webkit-box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
	box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
	background-image: -webkit-linear-gradient(top, #406181, #33506c);
	background-image: -moz-linear-gradient(top, #406181, #33506c);
	background-image: -o-linear-gradient(top, #406181, #33506c);
	background-image: linear-gradient(to bottom, #406181, #33506c);
}
.mod_menu span.current{
	color: #333;
  	background: #ddd;
 	border-bottom: 1px solid #eee;
}
.mod_menu span.current{
	background-image: none;
}
.mod_menu span small{
	float: right;	
}
.mod_menu a{
	cursor: pointer;
}
.mod_menu h2 span,
.mod_menu a.level1{
	width: 85%;
	padding-left: 10%;
	
	background-color: #e5e5e5;
}
.mod_menu h3 span,
.mod_menu a.level2{
	width: 80%;
	padding-left: 15%;
	
	background-color: #c5c5c5;
}
.mod_menu h4 span,
.mod_menu a.level3{
	width: 75%;
	padding-left: 20%;
	
	color: #fff;
	
	background-color: #a5a5a5;
}
.mod_menu h5 span,
.mod_menu a.level4{
	width: 70%;
	padding-left: 25%;
	
	color: #fff;
	
	background-color: #757575;
}

/* max-width : 768px */
@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px)
{
	.mod_menu ul.top{
		max-height: 0;
	}
	.mod_menu ul.top.show{
		max-height: 10000px;
		height: auto;
	}		
}