#horizontal-menu{
	width: 100%;
	
	background-color: #000;
}
#horizontal-menu ul,
#horizontal-menu li,
#horizontal-menu span,
#horizontal-menu a {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 500;
}
#horizontal-menu {
  line-height: 1;
 /*border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #141414;
  background: -moz-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab1b18), color-stop(100%, #8c1513));
  background: -webkit-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: -o-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: -ms-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: linear-gradient(to bottom, #ab1b18 0%, #8c1513 100%);*/
  /*border-bottom: 2px solid #0fa1e0;*/
  width: auto;
  padding-left: 15%;
}
#horizontal-menu:after,
#horizontal-menu ul:after {
  content: '';
  display: block;
  clear: both;
}
#horizontal-menu span,
#horizontal-menu a {
  /*background: #141414;
  background: -moz-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ab1b18), color-stop(100%, #8c1513));
  background: -webkit-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: -o-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: -ms-linear-gradient(top, #ab1b18 0%, #8c1513 100%);
  background: linear-gradient(to bottom, #ab1b18 0%, #8c1513 100%);*/
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 9px 20px;
  text-decoration: none;
}
#horizontal-menu ul {
  list-style: none;
}
#horizontal-menu li.current a{
	font-weight: bold;	
}
#horizontal-menu > ul > li {
  display: inline-block;
  float: left;
  
  width: 15%;
  margin: 0;
  
  text-align: center;
  
  border-right: 1px solid #444;
}
/*
#horizontal-menu.align-center {
  text-align: center;
}
#horizontal-menu.align-center > ul > li {
  float: none;
}
#horizontal-menu.align-center ul ul {
  text-align: left;
}
#horizontal-menu.align-right > ul {
  float: right;
}
#horizontal-menu.align-right ul ul {
  text-align: right;
}
*/
#horizontal-menu > ul > li > span,
#horizontal-menu > ul > li > a {
  color: #ffffff;
  font-size: 12px;
}
#horizontal-menu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}
/*
#horizontal-menu > ul > li:first-child > span,
#horizontal-menu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}*/
/*
#horizontal-menu.align-right > ul > li:first-child > span,
#horizontal-menu.align-center > ul > li:first-child > span,
#horizontal-menu.align-right > ul > li:first-child > a,
#horizontal-menu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#horizontal-menu.align-right > ul > li:last-child > span,
#horizontal-menu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
*/
#horizontal-menu > ul > li.active > span,
#horizontal-menu > ul > li:hover > span, 
#horizontal-menu > ul > li.active > a,
#horizontal-menu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 2px #360706;
  -moz-box-shadow: inset 0 0 2px #360706;
  -webkit-box-shadow: inset 0 0 2px #360706;
  /*background: #070707;*/
  background: -moz-linear-gradient(top, #222 0%, #666 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222), color-stop(100%, #666));
  background: -webkit-linear-gradient(top, #222 0%, #666 100%);
  background: -o-linear-gradient(top, #222 0%, #666 100%);
  background: -ms-linear-gradient(top, #222 0%, #666 100%);
  background: linear-gradient(to bottom, #222 0%, #666 100%);
}
#horizontal-menu .has-sub {
  z-index: 1;
}
#horizontal-menu .has-sub:hover > ul {
  display: block;
}
#horizontal-menu .has-sub ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
/*
#horizontal-menu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
*/
#horizontal-menu .has-sub ul li {
  *margin-bottom: -1px;
  box-shadow: 1px 1px 5px #aaa;
}
#horizontal-menu .has-sub ul li span, 
#horizontal-menu .has-sub ul li a {
  background: #fff;
  border-bottom: 1px dotted #666;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #666;
}
#horizontal-menu .has-sub ul li:hover span,
#horizontal-menu .has-sub ul li:hover a {
  background: #333;
  color: #fff;
}
#horizontal-menu ul ul li:hover > span,
#horizontal-menu ul ul li:hover > a {
  color: #ffffff;
}
#horizontal-menu .has-sub .has-sub:hover > ul {
  display: block;
}
#horizontal-menu .has-sub .has-sub ul {
  display: none;
  position: relative;
  left: 0;
  top: 0;
}
/*
#horizontal-menu.align-right .has-sub .has-sub ul,
#horizontal-menu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
*/
#horizontal-menu .has-sub .has-sub ul li span,
#horizontal-menu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
#horizontal-menu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
#horizontal-menu ul ul li.last > span,
#horizontal-menu ul ul li:last-child > span,
#horizontal-menu ul ul ul li.last > span,
#horizontal-menu ul ul ul li:last-child > span,
#horizontal-menu .has-sub ul li:last-child > span,
#horizontal-menu .has-sub ul li.last > span,
#horizontal-menu ul ul li.last > a,
#horizontal-menu ul ul li:last-child > a,
#horizontal-menu ul ul ul li.last > a,
#horizontal-menu ul ul ul li:last-child > a,
#horizontal-menu .has-sub ul li:last-child > a,
#horizontal-menu .has-sub ul li.last > a {
  border-bottom: 0;
}
/* max-width : 768px */
@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px)
{
	.menuButton{
		display: block;
	}	
	#horizontal-menu{
		display: none;
	}
	#horizontal-menu > ul > li {
	  width: 100%;
	  
	  border-bottom: 1px dashed #7c2120;
	}
	#horizontal-menu > ul li {
	  background-color: #444;
	}
	#horizontal-menu .has-sub ul {
	  left: -100%;
	  top: 0;
	}
}