.mod_menu_vertical .user{
    padding: 20px 0;
    
    text-align: center;
    
    background-color: #23272A;
}
.mod_menu_vertical .user img{
    display: inline-block;
    width: auto;
    height: 80px;
    
    background: #444;
    border: 2px solid #F3576C;
    border-radius: 50%;
}
.mod_menu_vertical .user .info{
    margin: 10px 0;
    
    font-size: 12pt;
    color: #aaa;
}
.mod_menu_vertical .user .links{
    text-align: center;
}
.mod_menu_vertical .user .links .settings::before,
.mod_menu_vertical .user .links .logout::before{
    display: inline-block;
    margin: 0 10px;
    
    font-family: "FontAwesome";
    font-size: 20px;
    color: #aaa;
}
.mod_menu_vertical .user .links .settings::before{
    content: "\f013";
}
.mod_menu_vertical .user .links .logout::before{
    content: "\f2f5";
}
.mod_menu_vertical .menu > .item{
    -webkit-transition: max-height 1s linear;
       -moz-transition: max-height 1s linear;
        -ms-transition: max-height 1s linear;
         -o-transition: max-height 1s linear;
            transition: max-height 1s linear;
}
.mod_menu_vertical .menu > .item.level1 > a,
.mod_menu_vertical .menu > .item.level1 > a::before,
.mod_menu_vertical .menu .item.level2 > a{
    -webkit-transition: color 0.3s linear;
       -moz-transition: color 0.3s linear;
        -ms-transition: color 0.3s linear;
         -o-transition: color 0.3s linear;
            transition: color 0.3s linear;
}
.mod_menu_vertical .menu > .item{
    box-sizing: border-box;
}
.mod_menu_vertical .menu .item.level1{
    position: relative;
    max-height: 68px;
    overflow: hidden;
    
    border-top: 1px solid #c0485C;
}
.mod_menu_vertical .menu .item.level1.parent::before{
    position: absolute;
    top: 20px;
    right: 20px;
    
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 20px;
    color: #333;
}   
.mod_menu_vertical .menu .item.level1.active,
.mod_menu_vertical .menu .item.level1:hover{
    max-height: 1000px;
}
.mod_menu_vertical .menu .item.level1.active.parent::before,
.mod_menu_vertical .menu .item.level1.parent:hover::before{
    color: #fff;
}
.mod_menu_vertical .menu .item.level1 > a{
    display: block;
    padding: 25px 5%;
    
    text-transform: uppercase;
    font-size: 11pt;
    color: #333;
}
.mod_menu_vertical .menu .item.level1 > a::before{
    display: inline-block;
    margin-right: 5%;
    
    font-family: "FontAwesome";
    font-size: 16px;
    color: #333; 
}
.mod_menu_vertical .menu .item.level1.active > a,
.mod_menu_vertical .menu .item.level1:hover > a{
    color: #fff;
    
    background: #d0586C;
}
.mod_menu_vertical .menu .item.level1.active > a::before,
.mod_menu_vertical .menu .item.level1:hover > a::before{
    color: #fff;
}
.mod_menu_vertical .menu .item.level1:first-child > a::before{
    content: "\f3fd";
}
.mod_menu_vertical .menu .item.level1:nth-child(2) > a::before{
    content: "\f031";
}
.mod_menu_vertical .menu .item.level1:nth-child(3) > a::before{
    content: "\f0c9";
}
.mod_menu_vertical .menu .item.level1:nth-child(4) > a::before{
    content: "\f0ac";
}
.mod_menu_vertical .menu .item.level1:nth-child(5) > a::before{
    content: "\f0e0";
}
.mod_menu_vertical .menu .item.level1:nth-child(6) > a::before{
    content: "\f0c0";
}
.mod_menu_vertical .menu .item.level1:nth-child(7) > a::before{
    content: "\f12e";
}
.mod_menu_vertical .menu .item.level1:nth-child(8) > a::before{
    content: "\f07b";
}
.mod_menu_vertical .menu .item.level2{
    border-top: 1px solid #c0485C;
}
.mod_menu_vertical .menu .item.level2 > a{
    display: block;
    padding: 10px 5% 10px 15%;
    
    font-size: 11pt;
    color: #442222;
    
    background: #d0586C;
}
.mod_menu_vertical .menu .item.level2:last-child > a{
    border-bottom: 1px solid transparent;
}
.mod_menu_vertical .menu .item.level2.active > a,
.mod_menu_vertical .menu .item.level2:hover > a{
    color: #fff;
}
/*============================================================================
   TOGGLE
  ----------------------------------------------------------------------------*/
.toggle .mod_menu_vertical .user img{
    height: 50px;
}
.toggle .mod_menu_vertical .menu .item.level1{
    overflow: visible;
}
.toggle .mod_menu_vertical .menu .item.level1 > a{
    text-align: center;
    font-size: 0;   
}
.toggle .mod_menu_vertical .menu .item.level1.parent::before{
    top: 22px;
    content: "\f0da";
}
.toggle .mod_menu_vertical .menu .item.level1 > .children{
    position: absolute;
    top: -1px;
    left: 200%;
    z-index: 100;
    opacity: 0;
    
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.toggle .mod_menu_vertical .menu .item.level1:hover > .children{
    opacity: 1;
    left: 100%;
}
.toggle .mod_menu_vertical .menu .item.level2{
    display: none;
    width: 200px;
}
.toggle .mod_menu_vertical .menu .item.level1:hover .item.level2{
    display: block;
}
.toggle .mod_menu_vertical .menu .item.level2 > a{
    padding-top: 15px;
    padding-bottom: 15px;
}